* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-image: url('https://bit.ly/3PQUNZ8');
  background-repeat: repeat;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}